@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Noto Sans TC', sans-serif;
}

.liste-joueurs {
    display: grid;
    margin: 2px;
    grid-template-columns: repeat(4, 0.1fr);
    justify-content: center;
    grid-gap: 10px;
    padding: 3px;
}

.liste-joueurs p {
    font-size: .7em;
    font-weight: bold;
    margin: 10px;
    width: fit-content;
}

.liste-joueurs .joueur {
    border: 1px solid #5b729a;
    width: 200px;
}

.liste-joueurs .joueur .info-joueur{
    width: auto;
    border-top: solid 1px #5b729a;
}

.liste-joueurs .joueur img {
    width: 30%;
    margin: 5% 50% 0 35%;
    align-self: center;
    box-shadow: 0 0 6px rgba(0, 67, 189, 0.13);
    border-radius: 50%;
}

.liste-joueurs .joueur .edition {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
}

.liste-joueurs .joueur .edition a {
    text-decoration: none;
    color: #000;
    font-size: .7em;
    font-weight: bold;
    margin: 10px;
    width: fit-content;
}

.liste-joueurs .joueur .edition .link1 {
    background: #2b3d58;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.liste-joueurs .joueur .edition .link2 {
    background: #d04545;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.liste-joueurs .joueur .edition .linka {
    background: #118800;
    color: white;
    border-radius: 5px;
    padding: 5px;
}