@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Noto Sans TC', sans-serif;
}

.container{
    margin-top: 2%;
}

#success_message{ display: none;}